<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        <link href="@Url.Content("~/Scripts/dropzone/dropzone.min.css")" rel="stylesheet" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        
        <script src="@Url.Content("~/Scripts/dropzone/dropzone.min.js")"></script>
        
        @RenderSection("scripts", false)
    </head>
    <body>
        <section class="table-cell">
            @RenderBody()
        </section>
        <footer class="site-footer fixed-bottom">
             &copy; Makkan Inventions - @DateTime.Now.Year
        </footer>
    </body>
</html>